{% extends "views/cocinas.html" %}

{% block slider %}
<section>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Closets</h2>
          <p>Hermosos closets a la medida de su hogar y de acuerdo con sus necesidades.</p>
      </div></div></div>
      <br>
      <div class="container">
          <div class="row">
<ul class="pgwSlideshow">
    <li><img src="media/web/closet1.jpg" alt="" data-description=""></li>
    <li><img src="media/web/closet2.jpg" alt=""></li>
    <li><img src="media/web/closet4.jpg" alt="" data-large-src=""></li>
    <li><img src="media/web/closet5.jpg" alt=""></li>
    <li><img src="media/web/closet6.jpg" alt=""></li>
    <li><img src="media/web/closet7.jpg" alt=""></li>
    <li><img src="media/web/closet8.jpg" alt=""></li>
    <li><img src="media/web/closet9.jpg" alt=""></li>
    <li><img src="media/web/closet10.jpg" alt=""></li>
    <li><img src="media/web/closet11.jpg" alt=""></li>
    <li><img src="media/web/closet12.jpg" alt=""></li>
    <li><img src="media/web/closet3.jpg" alt=""></li>
  <li><img src="media/web/closet13.jpg" alt=""></li>
    <li><img src="media/web/closet14.jpg" alt=""></li>
      <li><img src="media/web/closet15.jpg" alt=""></li>
        <li><img src="media/web/closet16.jpg" alt=""></li>

</ul>
</div>
</div>

</section>
{% endblock %}
