{% extends "views/main.html" %}

{% block css %}
   <!-- Custom CSS -->
   <link rel="stylesheet" href="pgwslideshow/pgwslideshow.min.css" type="text/css">
{% endblock %}

{% block content %}
{% block slider %}
<section>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Cocinas</h2>
          <p>Diseñamos en conjunto con usted su cocina, con el estilo único que usted siempre soñó.</p>
      </div></div></div>
      <br>
      <div class="container">
          <div class="row">
<ul class="pgwSlideshow">
    <li><img src="media/web/kitchen1.jpg" alt="" data-description=""></li>
    <li><img src="media/web/kitchen2.jpg" alt=""></li>
    <li><img src="media/web/kitchen4.jpg" alt="" data-large-src=""></li>
    <li><img src="media/web/kitchen5.jpg" alt=""></li>
    <li><img src="media/web/kitchen6.jpg" alt=""></li>
    <li><img src="media/web/kitchen7.jpg" alt=""></li>
    <li><img src="media/web/kitchen8.jpg" alt=""></li>
    <li><img src="media/web/kitchen9.jpg" alt=""></li>
    <li><img src="media/web/kitchen10.jpg" alt=""></li>
    <li><img src="media/web/kitchen11.jpg" alt=""></li>
    <li><img src="media/web/kitchen12.jpg" alt=""></li>
    <li><img src="media/web/kitchen13.jpg" alt=""></li>
    <li><img src="media/web/kitchen14.jpg" alt=""></li>
    <li><img src="media/web/kitchen15.jpg" alt=""></li>
    <li><img src="media/web/kitchen3.jpg" alt=""></li>
      <li><img src="media/web/cocina16.jpg" alt=""></li>
      <li><img src="media/web/cocina17.jpg" alt=""></li>
      <li><img src="media/web/cocina18.jpg" alt=""></li>
      <li><img src="media/web/cocina19.jpg" alt=""></li>
</ul>
</div>
</div>

</section>
{% endblock %}
{% block scripts %}
<script>
$(document).ready(function() {
    $('.pgwSlideshow').pgwSlideshow({
      transitionEffect : 'fading',
      maxHeight : 480,
    }
    );
});
</script>
<script src="pgwslideshow/pgwslideshow.min.js"></script>
{% endblock %}
{% endblock %}
