{% extends "views/main.html" %}

{% block content %}

<!-- Contact Section -->
 <section id="enviado">

   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 text-center">
               <h2 class="section-heading">¡Muchas gracias!</h2>
               <hr class="primary">
               <p>Hemos recibido tu mensaje y en breve nos pondremos en contacto contigo.</p>
               <p>Te invitamos a seguir navegando por nuestra página. <a href="/">Click aquí.</a></p>
           </div>

       </div>
   </div>
</section>

{% block scripts %}
<!-- No custom scripts -->
{% endblock %}
{% endblock %}
