{% extends "views/main.html" %}

{% block content %}

<!-- Contact Section -->
 <section>

   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 text-center">
               <h2 class="section-heading">Página No Encontrada</h2>
               <hr class="primary">
               <p>Lo sentimos, esta página no existe o bien ocurrió algún error.</p>
               <p>Te invitamos a seguir navegando por nuestra página. <a href="/">Click aquí.</a></p>
           </div>

       </div>
   </div>
</section>

{% block scripts %}
<!-- No custom scripts -->
{% endblock %}
{% endblock %}
