{% extends "views/cocinas.html" %}

{% block slider %}
<section>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Muebles de Madera</h2>
          <p>Fabricamos muebles en maderas preciosas al estilo de tu hogar.</p>
      </div></div></div>
      <br>
      <div class="container">
          <div class="row">
            <div class="fotorama"
                 data-nav="thumbs"
                 data-height="90%"
                 data-ratio="800/600"
                 data-transition="crossfade"
                 data-allowfullscreen="true"
            >
    <img src="media/web/muebles1.jpg" alt="" data-description="">
    <img src="media/web/muebles2.jpg" alt="">
    <img src="media/web/muebles3.jpg" alt="">
    <img src="media/web/muebles4.jpg" alt="" data-large-src="">
    <img src="media/web/muebles5.jpg" alt="">
    <img src="media/web/muebles6.jpg" alt="">
    <img src="media/web/muebles7.jpg" alt="">
    <img src="media/web/muebles8.jpg" alt="">
    <img src="media/web/muebles10.jpg" alt="">



</div>
</div>
</div>

</section>
{% endblock %}
