{% extends "views/cocinas.html" %}

{% block slider %}
<section>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Muebles de Madera</h2>
          <p>Fabricamos muebles en maderas preciosas al estilo de tu hogar.</p>
      </div></div></div>
      <br>
      <div class="container">
          <div class="row">
<ul class="pgwSlideshow">
    <li><img src="media/web/muebles1.jpg" alt="" data-description=""></li>
    <li><img src="media/web/muebles2.jpg" alt=""></li>
    <li><img src="media/web/muebles3.jpg" alt=""></li>
    <li><img src="media/web/muebles4.jpg" alt="" data-large-src=""></li>
    <li><img src="media/web/muebles5.jpg" alt=""></li>
    <li><img src="media/web/muebles6.jpg" alt=""></li>
    <li><img src="media/web/muebles7.jpg" alt=""></li>
    <li><img src="media/web/muebles8.jpg" alt=""></li>
    <li><img src="media/web/muebles10.jpg" alt=""></li>



</ul>
</div>
</div>

</section>
{% endblock %}
