{% extends "views/main.html" %}

{% block content %}


 <section class="bg-primary">

   <div class="container">
       <div class="row">
           <div class="col-lg-8 col-lg-offset-2 text-center">
               <h2 class="section-heading">Sobre Nosotros</h2>
               <hr class="primary">

               <p class="text-faded">Somos una empresa mexicana con más de 20 años en el mercado fabricando muebles de madera en diferentes especies.</p>

               <p class="text-faded"> Nuestra  alta calidad y dedicación nos posiciona como una de las pocas plantas que desarrollan  productos de primera clase.</p>

               <p class="text-faded">  Empleamos insumos tanto de importación como nacionales con respaldo de abasto y de preservación de bosques. Utilizamos maderas tratadas que aseguran durabilidad de nuestros productos.</p>

              <p class="text-faded">  Nos encontramos a la vanguardia con las nuevas tendencias de diseño, así como también conservamos estilos tradicionales y clásicos.</p>

               <p class="text-faded"> Estamos a sus órdenes para realizar su proyecto en acuerdo a sus necesidades de diseño, asegurando la calidad que usted merece y a un precio competitivo.  </p>



        </div>
      </div>
    </div>
<br>
    <div class="container">
        <div class="row">
    <div class="col-md-4 col-md-offset-1">
    <img src="media/fabrica.jpg" class="img-responsive" alt="Nuestras instalaciones">
    </div>


        <div class="col-md-4 col-md-offset-2">
        <img src="media/fabrica2.jpg" class="img-responsive" alt="Nuestras instalaciones">
        </div>
      </div>
      </div>

</section>




{% block scripts %}
<!-- No custom scripts -->
{% endblock %}
{% endblock %}
