{% extends "views/cocinas.html" %}

{% block slider %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
        <h2 class="section-heading">Muebles de Oficina</h2>
        <p>Fabricamos muebles exclusivos para sus oficinas a la medida.</p>
      </div></div></div>
  <br>
  <div class="container">
    <div class="row">
      <div class="fotorama"
           data-nav="thumbs"
           data-height="90%"
           data-ratio="800/600"
           data-transition="crossfade"
           data-allowfullscreen="true"
      >
        <img src="media/web/oficina1.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina2.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina3.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina4.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina5.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina6.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina7.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina8.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina9.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina10.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina11.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina12.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina13.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina14.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina15.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina16.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina17.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina18.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina19.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina20.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina21.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina22.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina23.jpg" alt="Muebles de oficina">
        <img src="media/web/oficina24.jpg" alt="Muebles de oficina">


      </div>
    </div>
  </div>

</section>
{% endblock %}
