{% extends "views/cocinas.html" %}

{% block slider %}
<section>
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <h2 class="section-heading">Pérgolas y Decks</h2>
          <p>Diseña una pérgola o deck para embellecer tu jardín y crear un espacio como ninguno.</p>
      </div></div></div>
      <br>
      <div class="container">
          <div class="row">
<ul class="pgwSlideshow">
    <li><img src="media/web/pergola1.jpg" alt="" data-description=""></li>
    <li><img src="media/web/pergola2.jpg" alt=""></li>
    <li><img src="media/web/pergola3.jpg" alt=""></li>
    <li><img src="media/web/pergola4.jpg" alt="" data-large-src=""></li>
    <li><img src="media/web/pergola5.jpg" alt=""></li>
    <li><img src="media/web/pergola6.jpg" alt=""></li>
    <li><img src="media/web/pergola7.jpg" alt=""></li>
    <li><img src="media/web/pergola8.jpg" alt=""></li>
    <li><img src="media/web/pergola9.jpg" alt=""></li>
    <li><img src="media/web/pergola10.jpg" alt=""></li>


</ul>
</div>
</div>

</section>
{% endblock %}
